{% extends "main.html" %}


{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

</style>

<div class="home-container">
    <div>
        

        <h3>Browse Topics</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}"> {{topic.name}}</a>
            </div>
        {% endfor %}


    </div>

    <div>
        <h5>{{event_count}} events</h5>
        <a href="{% url 'create-event' %}">Create Event</a>            
        <div>
            {% for event in events %}
            <div>
                <span>{{event.host.username}} </span>
                <a href="{% url 'event' event.id %}">{{event.name}}</a>                
                <br><span>{{event.eventdate}}</span>
                <p>{{event.description}}</p>
                {% if request.user == event.host %}
                    <a href="{% url 'update-event' event.id %}">Edit</a>
                    <a href="{% url 'delete-event' event.id %}">Delete</a>  
                    
                {% endif %}
                
                <hr>
            </div>

            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}


